.container {
  width: 500px;
  margin: 120px auto;
  margin-top: 200px;
  box-shadow: 0px 0px 5px 2px #cfcfcf;
  padding: 30px;
  padding-top: 5px;
  border-radius: 8px;
}

.container h2 {
  text-align: center;
  font-weight: 400;
  color: #333;
  margin: 30px 10px;
  font-size: 35px;
}

.profile_container h3 {
  text-align: center;
  font-weight: 400;
  color: #333;
  margin: 30px 10px;
  margin-bottom: 30px;
  font-size: 2rem;
}

.profile_container h3 span {
  color: var(--blue);
  font-size: 1.5rem;
}

.profile_container p {
  text-align: center;
}

.horizontal_row {
  background-color: rgb(198, 198, 198);
  width: 90%;
  height: 1px;
  margin: 20px auto;
  border-radius: 30px;
}

.profile_container h4 {
  text-align: center;
  font-weight: 500;
  color: #333;
  margin: 18px 10px 18px;
  font-size: 1.2rem;
}

.information p {
  font-weight: 300;
  margin: 5px 10px;
}

.information p span {
  font-weight: 400;
}

.profile_container h5 {
  text-align: center;
  font-weight: 400;
  color: #333;
  margin: 18px 10px 18px;
  font-size: 1.2rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.profile_container button {
  background: orange;
  padding: 10px;
  border: none;
  margin: 10px;
  border-radius: 3px;
  cursor: pointer;
}

@media screen and (max-width: 530px) {
  .container {
    width: 95%;
    padding: 10px 10px;
    padding-bottom: 20px;
    margin-top: 50px;
  }
}
